.card {
    border: solid 1px #f8f8f8;
    padding: 20px;
    width: 220px;
    border-radius: 20px;
    margin-right: 30px;
    margin-bottom: 30px;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

    .plus {
        cursor: pointer;
    }

    &:hover {
        box-shadow: 0px 20px 35x rgba(0, 0, 0, 0.5);
        transform: translateY(-5px);
    }

    .favorite {
        position: absolute;
        cursor: pointer;
        padding-top: 10px;
        padding-left: 10px;
    }

    span {
        font-size: 12px;
        opacity: 0.5;
        text-transform: uppercase;
    }

    b {
        font-size: 14px;
    }

    h5 {
        font-weight: 400px;
        font-size: 14px;
    }
}
